.neft-synonyms-admin-menu-icon {
  background-image: url("images/neft.synonyms_search.png");
  background-position: center;
}

.neft-synonyms-admin-page-icon {
}

.neft-synonyms-field-caption {
  font-size: 16px;
  line-height: 15px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 0 10px;
  color: #80868E;
  display: block;
}

.pagetitle-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  min-height: 74px;
  box-sizing: border-box;
}

div.pagetitle-container.pagetitle-align-right-container {
  margin: 0 0 0 auto !important;
}

.pagetitle-inner-container {
  min-height: 0;
}

.pagetitle-inner-container .pagetitle-flexible-space {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
